<div>
  <h3>Adicionar novo usuário</h3>
</div>
<form [formGroup]="userForm" (ngSubmit)="addUser()" #form="ngForm">

  <mat-form-field class="example-full-width">
    <mat-label>Nome</mat-label>
    <input matInput name="name" mat-autosize placeholder="Nome" formControlName="name">
  </mat-form-field>
  <div class="alert alert-danger example-full-width" role="alert"
    *ngIf="!userForm.controls.name.valid && form.submitted">
    Digite um nome válido!
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Sobrenome</mat-label>
    <input matInput name="lastName" mat-autosize placeholder="Sobrenome" formControlName="lastName">
  </mat-form-field>
  <div class="alert alert-danger example-full-width" role="alert"
    *ngIf="!userForm.controls.lastName.valid && form.submitted">
    Digite um sobrenome válido!
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Selecione a data</mat-label>
    <input formControlName="dateBirth" mat-autosize matInput [max]="maxDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="alert alert-danger example-full-width" role="alert"
    *ngIf="!userForm.controls.dateBirth.valid && form.submitted">
    Digite uma data válida!
  </div>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Escolaridade</mat-label>
    <mat-select formControlName="schooling">
      <mat-option mat-autosize *ngFor="let item of schooling" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="E-mail" name="email" placeholder="Email" email="true" formControlName="email">
  </mat-form-field>
  <div class="alert alert-danger example-full-width" role="alert"
    *ngIf="!userForm.controls.email.valid && form.submitted">
    Digite um email válido!
  </div>

  <button type="submit" mat-button routerLink="/" color="primary">Cancelar</button>
  <button type="submit" [disabled]="clicked" mat-button color="primary">Adicionar</button>
</form>