<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Sobrenome</th>
    <th scope="col">Email</th>
    <th scope="col">Escolaridade</th>
    <th scope="col">Data de Nascimento</th>
    <th scope="col">Editar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; index as i">
    <!-- <th scope="row">{{ i + 1 }}</th> -->
    <td>{{ user.name  }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.schoolingDesc }}</td>
    <td>{{ user.dateBirth }}</td>
    <td><button mat-button routerLink="/edit/{{user.id}}">Editar</button></td>
  </tr>
  </tbody>
</table>